body {
    background-color: white;
}

img.tile {
    position: absolute;
    width: 100;
    height: 46;
    margin: 0;
}

img.tile:hover {
/*    background-color: green; */
}

p#debug {
    position: fixed;
    top: 0; left: 0;
    font-family: monospace;
    white-space: pre;
    background-color: #cceeee;
    margin: 0;
    padding: 0;
}
